body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}

.search-bar-container{
    width: 300px;
    height: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 1);
    border-color: aliceblue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .7s;
}
.search-bar-container img{
width: 30px;
}
.search-icon{
    padding-left: 10px;
}

.voice-search{
    position: absolute;
    right: 10px;
    width: 100%;
    transition: width .3s;
    transition-delay: .3s;
}

.input{
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 5px;
    background-color: transparent;
    width: 100%;
    transition: width .2s;
    transition-delay: .2s;
}

.search-bar-container.active{
    width: 50px;
}

.active .input{
    width: 0;
}

.active .voice-search{
    width: 0;
}