body{
    margin: 0;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    text-align: center;
}
h2{
    color: white;
}
.btn{
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid;
    border-color: rgba(255, 255, 255, .35);
    margin-bottom: 10px;
    filter: grayscale();
    transition: filter .2s ease-in-out;
    cursor: pointer;


}
.btn:hover{
    filter: grayscale(0);
}
.emoji-name{
    color: darkblue;
    font-weight: 700;
}