body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to right, lightblue,lightgreen);
}
.container{
background-color: rgba(255, 255, 255, .2);
padding: 15px;
border-radius: 10px;
box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
width: 85%;
max-width: 450px;
min-width: 350px;
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: navy;
    font-family: cursive;
}
.temperature-container{
    
    width: 100%;
    margin: 10px 0px;
    font-size: 18px;
  text-align: left;
  font-weight: bold;
  font-family: cursive;
  color: navy;
}


.input{
   float: right;
    background-color: rgba(255, 255, 255, .3);
    border-color:  rgba(255, 255, 255, .5);
    border-radius: 6px;
    
    padding: 10px;
    font-size: 18px;
   color: darkgreen;

}
.input::placeholder{
    color: darkgreen;
    font-size: 18px;
}
